name: Simple APK Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Fix Gradle version
        run: |
          sed -i 's/gradle-[0-9.]*-bin\.zip/gradle-8.0-all.zip/g' gradle/wrapper/gradle-wrapper.properties
          sed -i 's/gradle-[0-9.]*-all\.zip/gradle-8.0-all.zip/g' gradle/wrapper/gradle-wrapper.properties
      
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      
      - name: Build with Gradle
        run: ./gradlew assembleDebug
